@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.JiraProfiles
@using WebAPI.Proformas;
@using global::Infrastructure

<div id=@List>
    <DataTable TResult=ListProformaWeeks.Result
               Result=@Result.Items
               PreRenderRow="false"
               Context="item">
        <TableHeader>
            <th></th>
            <th>Week</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th class="text-end">Hours</th>
            <th class="text-end">Penalty</th>
            <th class="text-end">SubTotal</th>
        </TableHeader>
        <RowTemplate>
            <tr>
                <RowToolbar>
                    <Actions>
                        <ActionLink HtmxProps=@(new HtmxProps(Endpoints.ListWorkItems.AddListParameters(1, Query.PageSize), $"#{GetProformaPage.Collaborator}"){ OnClick="highlight_row(this);", Vals=$$"""{"proformaId":"{{item.ProformaId}}", "week":"{{item.Week}}"}"""})
                                    Icon=@Icons.View />
                    </Actions>
                </RowToolbar>
                <td>@item.Week</td>
                <td>@item.Start.ToListFormat()</td>
                <td>@item.End.ToListFormat()</td>
                <td class="text-end"><div id="@WeekColumnHours-@item.Week">@item.Hours</div></td>
                <td class="text-end"><div id="@WeekColumnPenalty-@item.Week">@item.Penalty.ToMoneyFormat()</div></td>
                <td class="text-end"><div id="@WeekColumnSubTotal-@item.Week">@item.SubTotal.ToMoneyFormat()</div></td>
            </tr>
        </RowTemplate>
    </DataTable>
    <Pagination Query=@Query
                Result=@Result
                HtmxProps=@(new HtmxProps(Endpoints.ListWeeks, $"#{List}", Swap.OuterHTML){Vals=$$"""{"proformaId":"{{Query.ProformaId}}"}"""}) />
</div>

@code {
    [Parameter, EditorRequired]
    public ListResults<ListProformaWeeks.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListProformaWeeks.Query Query { get; set; } = default!;

    public const string WeekColumnHours = "week-column-hours-target";

    public const string WeekColumnPenalty = "week-column-penalty-target";

    public const string WeekColumnSubTotal = "week-column-subtotal-target";

    public const string List = "week-list-target";
}
