@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using global::Infrastructure

@foreach (var item in Result)
{
    <option value="@item.ProformaId">Proforma @item.Number from @item.Start.ToListFormat() to @item.End.ToListFormat() with a total of @item.Currency @item.Total.ToMoneyFormat()</option>
}

@code {
    [Parameter, EditorRequired]
    public List<SearchProformasNotAddedToInvoice.Result> Result { get; set; } = default!;
}
